
{% extends "base.html" %}

{% block start %}

    <header>
        <h1>Main Page</h1>
    </header>

<main>
    <p>{{ t }}</p>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Can Vote?</th>
        </tr>

        {% for i in p %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.Age }}</td>
            <td>{{ i.city }}</td>

            <td
                {% if i.Age < 19 %}
                    style="background-color:red;"
                {% endif %}
            >
                {% if i.Age >= 19 %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <p>
        {% if "Appl" in fruit %}
            Yes there is a student who likes Apple
        {% elif "Banana" in fruit %}
            Yes there is a student who likes Banana
        {% else %}
            No available student
        {% endif %}
    </p>

    <a href="/contact/">Contact</a>

    <a href="/about/">About</a>
</main>

{% endblock %}